/*
 Theme Name:   UnderStrap Child
 Theme URI:    https://www.understrap.com
 Description:  UnderStrap Child Theme
 Author:       Holger Koenemann
 Author URI:   http://www.holgerkoenemann.de
 Template:     understrap
 Version:      0.5.3
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  understrap-child
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
 GitHub Theme URI: holger1411/understrap-child
*/
body {
  overflow-x: hidden;
}
.top-header {
    background: #095474;
    padding: 15px 0px;
}

.top-header p {
    color: #fff;
    margin: 0
}

.contact-info {
    text-align: right;
    color: #fff;
}

.contact-info a {
    color: #fff;
}
p {
    width: 100%;
}

img {
    max-width: 100%
}

.search-icon {
    background: #095474;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.search-box {
    display: flex;
}

.search-icon img {
    max-width: 32px;
}

header .row>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.search-box input {
    border: 1px solid #095474;
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
}

.languages-box img {
    max-width: 32px;
}

.languages-box select {
    border: none!important;
    margin-left: 20px!important;
}

.languages-box {
    text-align: right;
}

.main-menu {
    background: #095474
}

.main-menu li {
    list-style-type: none;
    display: flex;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none!important
}

ul.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0;
}

ul.menu>li {
    padding: 13px 15px;
}

.main-menu a {
    color: #fff
}

section#main-slider {
    background: url(../../../assets/img/header2.jpg);
    background-size: cover;
}

.container.fullwidth {
    max-width: 100%;
}

.container.fullwidth .row>div {
    padding: 0px
}

.info-box {
    background: rgba(0, 0, 0, .7);
    padding: 30px
}

.info-box h1 {
    font-size: 30px;
    color: #fff;
}

.info-box {
    color: #fff
}

.info-box ul {
    list-style-type: none;
    padding: 0px;
}

.info-box img {
    max-width: 50px;
    margin-right: 20px;
}

.info-box li {
    margin-bottom: 15px;
}

button.btn {
    background: #095474;
    border-radius: 0;
    color: #fff;
    font-weight: 600
}

section {
    padding: 40px 0px
}

section#main-slider {
    padding: 0px
}

h2.title {
    text-align: center;
    color: #095474;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.slick-track {
    display: flex
}

.slick-list.draggable {
    overflow: hidden;
}

.slick-prev, .slick-next {
    z-index: 1;
    height: 50px !important;
    width: 50px !important;
    margin: -50px 0 0;
}
@media (max-width: 1024px) {
    .left-arr,
    .right-arr {
        display: none;
    }
}

.slick-prev {
    left: 0px !important;
    transform: rotate(180deg) !important;
}

.slick-next {
    z-index: 1;
    right: 0px !important;
    transform: none !important;
}

.slick-prev:before, .slick-next:before {
    display: none;
    color: #095474;
    font-size: 30px;
}

p.product-title {
    text-align: center;
    border-top: 2px solid #095474;
    margin-top: 20px;
    padding-top: 10px;
    width: 90%;
    color: #095474;
    font-weight: 700
}

.product:focus {
    outline: none
}

p.product-price {
    text-align: center
}

section#icons {
    background: #ededed
}

.map img {
    height: auto!important;
}

.map {
    display: flex;
    align-items: center;
}

.map-text p {
    color: #095474;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    line-height: 1
}

.map-text span {
    display: block;
    font-size: 40px;
}

.icon-box {
    text-align: center;
}

.icon-box img {
    max-width: 100px;
}

.icon-box p {
    background: #095474;
    display: block;
    width: 70%;
    margin: auto;
    color: #fff;
    padding: 15px;
    font-weight: 600;
    position: relative;
    top: -30px;
}

.blurb-box {
    text-align: center;
}

section.blurbs .row>div:nth-child(1) .blurb-img {
    background: #ecc12e;
    padding: 30px;
    margin-bottom: 15px
}

section.blurbs .row>div:nth-child(2) .blurb-img {
    background: #dc7c28;
    padding: 30px;
    margin-bottom: 15px
}

section.blurbs .row>div:nth-child(3) .blurb-img {
    background: #3080c3;
    padding: 30px;
    margin-bottom: 15px
}

section.blurbs .row>div:nth-child(4) .blurb-img {
    background: #cf4b3c;
    padding: 30px;
    margin-bottom: 15px
}

section.blurbs .row>div:nth-child(5) .blurb-img {
    background: #915b3e;
    padding: 30px;
    margin-bottom: 15px
}

section.blurbs .row>div:nth-child(6) .blurb-img {
    background: #6bbd46;
    padding: 30px;
    margin-bottom: 15px
}

.blurb-box img {
    max-width: 128px;
}

.blurbs {
    padding: 0px!important
}

section#videos {
    background: #ededed;
    padding: 80px 0 40px 0;
}

.video-box {
    min-height: 150px;
    background: url(../../../assets/img/drone.jpg);
    background-size: cover;
    margin-bottom: 20px
}

h4.video-title {
    text-align: center;
    font-size: 20px;
}

section#cta {
    background: #ed4b1f;
}

section#cta h3, #cta p {
    color: #fff;
}

button.blue-color a {
    color: #fff !important;
}
button.red-color a {
    color: #fff;
}

#cta button.btn {
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 30px;
}

section#banner {
    padding: 0;
}

#banner .image {
    background: url(../../../assets/img/winter_collection_Allo-sourcing.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}


#banner .events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#banner .events .product {
    position: relative;
    width: 31%;
    margin: 0 1%;
}

#banner .events .woocommerce-loop-product__title {
    text-align: center;
    font-size: 16px;
}

#banner .events .fpd-catalog-customize {
    top: 0;
}

#banner .products .product-title {
    width: 100%;
}

#banner .products .product-img {
    display: flex;
}

#banner .image-content,
#banner .products {
    padding: 40px 0;
}

#banner .products .add-to-cart-container,
#banner .products .price,
#banner .products .star-rating  {
    display: none;
}

#banner h3 {
    background: rgba(0, 0, 0, .7);
    padding: 20px;
    color: #fff;
    margin-bottom: 180px;
}
@media (max-width: 659px) {
    #banner .events .product {
        width: 98%;
    }
}
@media (min-width: 660px) and (max-width: 1024px) {
    #banner .events .product {
        width: 48%;
    }
}

footer {
    background: #095474;
    padding: 45px 0px;
    color: #fff;
    text-align: center;
}

footer img {
    filter: brightness(100)
}

footer h4 {
    text-align: center;
}

footer ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

footer .row>div:last-child {
    text-align: center;
}

footer .row>div:last-child a {
    color: #fff;
    font-size: 30px;
}

.social li {
    display: inline-block;
    margin: 0 10px;
}

.social {
    text-align: center;
}

.social li {
    width: 40px;
    height: 40px;
    background: #fff;
    text-align: center;
    border-radius: 100%;
    padding-top: 10px;
}

.social i {
    color: #095474;
    font-size: 20px;
}

section#feature-products {
    background: #ededed
}

#feature-products .product-img {
    height: 0px;
    padding-bottom: 100%;
    border: 5px solid #008396;
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #fff;
}

#feature-products img {
    /* margin-top: 100%; */
    width: 100%;
}

#feature-products p.product-title {
    border: none
}

.breadcrumbs {
    font-style: italic;
    color: grey;
    font-size: 14px;
}

#feature-products {
    -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.55);
}

section#products.product-catalog {
    padding: 0px;
}

.filter-box {
    background: #ededed;
    padding: 30px;
}

section#feature-products {
    z-index: 2;
    position: relative;
}

.filter>p {
    font-weight: 600
}

.filter label {
    display: block;
    margin-left: 20px;
}

.filter input {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid grey;
    outline: none;
}

.filter input:checked {
    background: #095474
}

.product-list {
    position: relative;
}

.product-catalog .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.product-catalog .product {
    width: 30%;
}

section#products.product-catalog .row>div {
    display: flex
}

.filter-box {
    width: 100%;
}

.sort-box {
    width: 70%;
    padding: 50px 30px 30px 30px;
    display: flex;
    justify-content: space-between
}

.quantity {
    color: #095474;
    font-weight: 600
}

.quantity input {
    border: 1px solid #095474
}

input.js-input-from.form-control {
    display: none
}

input.js-input-to.form-control {
    display: none
}

.range-slider {
    min-width: 200px
}

.irs-from, .irs-to, .irs-single {
    background: none!important;
    color: #333!important
}

.irs-bar, .irs-slider {
    background: #095474!important
}


.irs-min, .irs-max {
    display: none
}

.price {
    margin-top: -40px;
    text-align: center
}

.sort {
    text-align: right;
}

section#products.product-catalog .row>div:last-child {
    display: block;
}

.irs-min, .irs-max {
    display: none!important
}

@media screen and (max-width: 767px) {
    .sort-box {
        flex-wrap: wrap
    }
    .sort-box>div {
        width: 100%;
    }
    .sort-box .price {
        margin-top: 0px;
    }
    .product-catalog .product {
        width: 100%;
    }
}

.product-price span {
    font-size: 12px
}

p.product-short-desc {
    margin-top: 20px;
}

.product-options {
    display: flex;
    justify-content: space-between
}

.sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.size-box {
    width: 22%;
    text-align: center;
}

.size-box input {
    width: 100%;
    height: 55px;
    background: #ededed;
    border: none;
    text-align: center
}

.product-color {
    margin-right: 10px;
}

.product-color select {
    margin-top: 24px;
    background: #ededed;
    border: none;
    padding: 15px 10px;
    border-radius: 40% 0% 0% 40%;
}

section#product .btn {
    background: #095474;
    color: #fff;
    margin: 20px 0px;
    width: 100%;
    padding: 15px;
}

.buttons-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.buttons-box img {
    max-width: 50px;
}

.buttons-box a {
    color: #333;
}

section#product-content {
    background: #F3F3F5
}

.tabs-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.tabs-header .tab {
    color: #333;
    font-weight: 600;
    text-align: center;
    cursor: pointer
}

.tabs-header .tab.active {
    color: orange
}

.tab-content>div {
    display: none
}

.tab-content>div.current {
    display: block;
}

.rating i {
    color: gold;
    font-size: 20px
}

.general-rating {
    text-align: center;
    margin-top: 30px;
}

.review .rating i {
    font-size: 13px
}

.review-head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review-head .rating {
    margin-left: 30px;
}

.reviews {
    margin-top: 50px;
}

:focus {
    outline: none;
}

.review {
    margin: 0 15px;
}

iframe {
    overflow: hidden
}

.submenu {
    position: absolute;
    width: 100%;
    background: #ededed;
    z-index: 99;
    top: 50px;
    left: 0;
    display: none;
}

.menu>li.active {
    background: #538CD5
}

.submenu-tabs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    background: #538CD5
}

.submenu-tabs .submenu-tab {
    padding: 10px 20px;
    cursor: pointer;
}

.submenu-tab.active, .submenu-tab:hover {
    background: #ededed
}

.submenu-content {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}

.submenu-menu {
    width: 60%;
    display: flex;
    flex-direction: column;
    max-height: 100px;
    flex-wrap: wrap;
    height: 100px;
}

.submenu-menu a {
    color: #333;
}

.submenu-menu a.all {
    text-decoration: underline!important
}

.submenu-product {
    width: 25%;
}

.submenu-product img {
    max-width: 100px;
}

.submenu-product p.product-title {
    border: none;
    margin: 0!important;
    width: 100%;
    font-weight: 400
}

.submenu-product p.product-price {
    font-size: 15px;
    margin-bottom: 0;
}

.submenu {
    display: none;
    transition: opacity .5s
}

@media screen and (max-width: 767px) {
    .submenu {
        display: none
    }
}

.submenu.active {
    display: block;
}

.submenu-content {
    display: none
}

.submenu-content.current {
    display: flex
}



.main-menu .row>div {
    padding: 0px;
}

.logo img {
    max-width: 150px!important;
}

footer img {
    filter: none;
    max-width: 200px!important;
}

.product-price {
    color: #333
}

.menu span {
    color: #fff;
    cursor: pointer;
}

#feature-products p.product-title {
    width: 100%
}

@media screen and (max-width: 767px) {
    .top-header, .contact-info {
        text-align: center
    }
    .logo {
        text-align: center
    }

    .submenu-tabs {
        flex-direction: column;
        order: 2;
        width: 30%
    }
    .submenu-content-box {
        width: 70%;
    }
    .submenu-content {
        flex-direction: column;
    }
    .submenu-menu {
        padding: 0px;
        width: 100%;
        max-height: 100%;
    }
    .submenu-product {
        width: 100%;
        margin-top: 40px;
    }
    .submenu i {
        font-size: 30px;
    }
    .submenu-content {
        padding-top: 80px;
    }
}

@media screen and (min-width: 768px) {
    .submenu i {
        display: none
    }
}

.submenu.active {
    z-index: 99;
}

.breadcrumbs {
    display: none
}

div#popoup {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    display: flex;
    z-index: -1;
    opacity: 0;
    transition: all .5s
}

.open {
    opacity: 1!important;
    z-index: 99999!important;
}

.pop-up-box {
    background: #fff;
    width: 50%;
    margin: auto;
    padding: 40px;
}

.close-popup {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer
}

.pop-up-box {
    position: relative;
}

#popoup .video-box {
    background: none;
    min-height: 0px;
    text-align: center;
}

#popoup .video-box>div {
    display: none
}

#popoup .video-box>div.active {
    display: block
}

div#chat {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #EC1D24;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px 0px 0px 0px;
    cursor: pointer;
    z-index: 999;
}

#products .product img {
    margin: auto;
    max-height: 250px;
    width: auto;
}

/* #products .product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

#products .product-img {
    text-align: center;
    max-height: 300px;
}

#products .product-list .woocommerce-loop-product__title {
    text-align: center;
    font-size: 16px;
}

#products .product-list .fpd-catalog-customize {
    top: 0;
}

#products .product-list .product {
    position: relative;
    width: 98%;
    margin: 0 1%;
}

#products .star-rating,
#products .price,
#products .add-to-cart-container {
    display: none;
}
#products .sort-box .price {
    display: block;
}
section#feature-products {
  padding: 10px 0;
}
section#feature-products .product-img {
    width: 150px;
    height: 150px!important;
    padding: 0px;
    margin: auto
}

section#feature-products .title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
section#feature-products .woocommerce-loop-product__title {
  margin: 0;
}

.thsirt-price {
    display: none
}

#video1 .video-box {
    background: url(../../../assets/img/video-1.jpg);
    background-size: cover;
    background-position: center;
}

#video2 .video-box {
    background: url(../../../assets/img/video-2.jpg);
    background-size: cover;
    background-position: center;
}

#video3 .video-box {
    background: url(../../../assets/img/video-3.jpg);
    background-size: cover;
    background-position: center;
}

products .product-img {
    text-align: center;
    width: 80%;
    margin: auto;
}

.product-desc {
    width: 80%;
    margin: auto;
    font-size: 16px;
}

p.product-title {
    text-align: center;
    border-top: 2px solid #095474;
    margin-top: 20px;
    padding-top: 10px;
    color: #095474;
    font-weight: 700;
    margin-bottom: 0px;
}
p.blurb-text {
    padding-left: 10px;
    padding-right: 10px;
}

#popoup div#frmContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
#popoup #frmContact > div {
    width: 45%;
}
#popoup label {
    padding-top: 0px!important
}
#popoup input, #popoup textarea {
    width: 100%;
}
.pop-up-box button {cursor: pointer}
div#frmContact h2 {
    font-size:24px;
    text-transform:none;
}
div#frmContact h3 {
    font-size:18px;
    text-transform:none;
}


.accept-box {
    margin-top: 20px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.accept-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.modal-dialog {
    max-width: 800px;
}

.modal-title {
    width: 100%;
    text-align: center;
}

.wpcf7 input:focus[type=submit] {
    box-shadow: none;
}


/* On mouse-over, add a grey background color */
.accept-box:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.accept-box input:checked ~ .checkmark {
    background-color: #E61E33;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.accept-box input:checked ~ .checkmark:after {
    display: block;
}

.pop-up-box button {
    background: #E61E33;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 10px 30px;
}
/* Style the checkmark/indicator */
.accept-box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#contact-button, #call-button {
    cursor: pointer;
}
.wpcf7 input[type=submit] {

    background: #095474 !important;
    color: #fff;
    border: none
}


label.accept-box {
    margin-top: 30px
}
#go-to-customizer span {
    width: calc(100% - 56px);
    text-align: center;
    display: inline-block
}
#go-to-customizer i {
    margin: 0px!important
}


.submenu-content {
    display: block
}

.submenu-content-box {
    display: flex;
    flex-wrap: wrap;
    min-height:calc(100vh - 262px);
}


.submenu-content-box   .submenu-content {

    width: 33%;

}

.allo {
    margin: 0 !important;
}

.allo .submenu-content-box .submenu-content{
    width: 100% !important;
}


.submenu {
    background: #fff;
    border: 2px solid #ededed
}

p.menu-subtitle {
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    background: #ededed;
}

ul.submenu-menu {
    width: 100%;
    display: block;
    padding-left: 20px;
    height: auto!important;
    max-height: none!important;
}
ul.submenu-menu a {
    color: #333!important;
}
/* ul.submenu-menu li:last-child {
    display: none
} */
li.allo .submenu-content-box {
    max-width: 300px;
    min-height: auto!important
}
li.allo .submenu {
    max-width: 300px;
}

.submenu {
    display: none;

}

.submenu-content-box {
    width: 75%;
}

.left-arr {
    position: absolute;
    left: 30px;
    top: 40%;
    transform: rotate(180deg);
}

.right-arr {
    position: absolute;
    right: 30px;
    top: 40%;
}

.menu-product-box {
    width: 15%;
}

.submenu-product {
    width: 100%;
    margin-top: 40px;
}
.submenu .submenu-product p.product-title {
    border-top: 2px solid #095475!important;
    font-weight:  600!important;
    width:  75%!important;
    margin: auto!important;
    margin-top: 10px!important;
}


.allo .submenu-content-box {
    width: 100%
}
@media (min-width: 971px) {

    ul.menu li:hover .submenu {
        display: flex ;
    }

}



ul.menu li:hover {
    background: #fff!important
}
ul.menu li:hover > span {
    color: #095474
}
label.accept-box {
    font-size: 12px;
    line-height: 1.2;
    position: relative;
    margin-top: 35px;
}

span.checkmark {
    top: -5px;
}
.popup-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.submenu-content {
    padding-bottom: 10px;
    padding-top: 10px;
}

.submenu-content-box {
    padding: 15px!important;
}


ul.menu > li > span {
    text-transform: uppercase
}
ul.menu > li.allo > span {
    font-weight: bold;
}
li.allo {

    margin: 10px
}

li.allo span::after {
    content: "";
    border-right: 2px solid #fff;
    width: 2px;
    padding-left: 22px;
    height: 50px;
    top: 0;
    position: absolute;
}


@media screen and (max-width: 1440px) {
    .submenu-content-box {
        max-height: 110vh
    }
}


.owl-dots {
    display: none;
}

.owl-nav {
    height: 0;
}

.submenu-menu li {

    text-align: left;
    padding: 5px 0;
}


.flash-info {
    display: block;
    position: relative;
    margin: 0;
    background: #f08e28;
    color: #fff;
    padding: 7px;
}

.flash-info h3 {
    font: bold 10px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #369;
    color: #29506a;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 24px;
}

.flash-info h4,
.flash-info p {
  margin: 0 0 5px;
}

/* Class name via Modernizr */
.csstransforms .flash-info {
    border-left: 34px solid #c5c5c6;
    padding-left: 10%;
    padding-right: 10%;
}
.csstransforms .flash-info h3 {
    position: absolute;
    top: calc(50% + 48px);
    left: -33px;
    background: none;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    font-weight: 900;
    font-size: 10px;
}

.csstransforms .flash-info button {
    padding: 0 15px;
    background: #fff;
    color: #f08e28;
    border: none;
    cursor: pointer;
}


ul.social a {
    position: relative;
    top: -16px;
}

.video-box {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wpml-ls-statics-shortcode_actions {
    max-width: 60px;
    border: none!important
}

a.js-wpml-ls-item-toggle.wpml-ls-item-toggle {
    border: none
}

.woof_products_top_panel {
    display: none!important
}
.woocommerce.archive div#woocommerce-wrapper #left-sidebar {
    display: none!important
}
.woocommerce.archive div#woocommerce-wrapper > .container {
    width: 100%!important;
    max-width: 100%!important;
    padding: 0px;
}
.single-product div#left-sidebar {
    display: none
}

nav.woocommerce-breadcrumb {
    display: none
}

span.onsale {
    display: none;
}

div#woocommerce-wrapper {
    padding: 0
}

li.product {
    list-style-type: none
}

.row.our-adivces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.row.our-adivces > li.product {
    width: 23%;
    position: relative;
}
.row.our-adivces > li.product > .fpd-catalog-customize {
    top: 0;
}
.our-advices::after {
    content: "";
    flex: auto;
}

.archive a.btn {
    display: none
}

.archive a.button.fpd-catalog-customize.product_type_variable {
    display: none
}
h2.woocommerce-loop-product__title {
    text-align: center;
    border-top: 2px solid #095474;
    margin-top: 20px;
    padding-top: 10px;
    color: #095474;
    font-weight: 700;
    margin-bottom: 0px;
}

.our-adivces li.product h2.woocommerce-loop-product__title {
    border-top: 0px!important;
    font-size: 16px;
}
.archive span.price {
    display: none!important
}

.archive .star-rating {
    display: none!important
}

ul.woof_list {
    padding-left: 0;
}

p.attr-name {
    font-weight: 600
}

.filter-box strong {
    font-weight: bolder
}

ul.woof_list li {
    padding-left: 20px!important;
}
ul.woof_list input {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid grey;
    outline: none;
}

ul.woof_list input:checked {
    background: #095474
}
div#woof_html_buffer {
    display: none!important
}
.products .product img {
    max-height: 200px;
    margin: auto
}

.product-list2 {
    padding: 30px;
}


p.woocommerce-result-count {
    display: none
}

form.woocommerce-ordering select:focus {
    outline: none!important;
    border: 1px solid #ced4da!important
    box-shadow: none!important
}
form.woocommerce-ordering {
    margin-top: -90px!important;
}
.products .product img {
    max-height: 200px;
    margin: auto;
    width: auto!important;
}

.product-list2 {
    padding: 30px;
}


p.woocommerce-result-count {
    display: none
}

form.woocommerce-ordering select:focus {
    outline: none!important;
    border: 1px solid #ced4da!important
    box-shadow: none!important
}
form.woocommerce-ordering {
    margin-top: -90px!important;
}
button.button.woof_reset_search_form {
    display: none
}

.single-product div#woocommerce-wrapper {
    padding-top: 40px;
}

.star-rating > span, .stars a {
    color: #FCCB06
}

a.woocommerce-review-link {
    color: #333;
}
.star-rating {
    margin-left: 20px!important;
}

.single-product p.price {
    display: none
}

a#fpd-start-customizing-button {
    height: 54px;
    background: rgba(0,0,0,0);
    border: none;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    color: #095474;
    font-weight: 800;
    position: relative;
}

a#fpd-start-customizing-button:before {
    content : "\f1fc";
    font-family: "Font Awesome 5 Free";
    color: #fff;
    background: #F29D2B;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

button#go-to-customizer {
    display: none
}

.product_meta {
    display: none;
}

.single-product .summary.entry-summary {
    display: flex;
    flex-direction: column;
}

.wc-tabs, .woocommerce div.product .woocommerce-tabs .panel{
    padding: 0 !important;
}

.woocommerce-tabs.wc-tabs-wrapper {
    background: #F3F3F5;
    padding: 30px;
}

ul.tabs.wc-tabs li {
    border: none!important;
    background: none!important;
    padding: 0px 30px!important;
}
ul.tabs.wc-tabs:before {
    border: none!important;
}

.woocommerce-Tabs-panel h2 {
    display: none
}
ul.tabs.wc-tabs li.active {
    color: orange
}

section.up-sells.upsells.products {
    display: none
}

section.related.products .price {
    display: none!important
}

section.related.products .add-to-cart-container {
    display: none
}

section.related.products .star-rating {
    display: none
}

section.related.products ul.products.columns-4  li {
    width: 28%;
}
section.related.products ul.products.columns-4 li:last-child {
    display: none
}


section.related.products .product-img img{
    text-align: center!important;
    margin: auto!important;
}
#reviews ol.commentlist li img {
    width: 60px!important;
    float: none!important;
    position: relative!important
}
#reviews ol.commentlist .comment_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

#reviews ol.commentlist .comment-text {
    margin: 0px!important;
    border: none!important;
    padding: 0px!important;
}
#reviews ol.commentlist .star-rating {
    margin-left: 80px!important;
    position: relative;
    top: -50px;
}

#reviews  time.woocommerce-review__published-date {
    display: none
}

#reviews span.woocommerce-review__dash {
    display: none
}

strong.woocommerce-review__author {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
}

#reviews .description {
    font-size: 1rem;
    color: #212529!important;
}


.fpd-container {
    margin: auto;
}


span.fpd-modal-price.fpd-right {
    display: none
}


.fpd-modal-wrapper {
    max-width:75%!important;
}


button.single_add_to_cart_button.btn.btn-primary {
    background: #095474;
    color: #fff;
    margin: 20px 0px;
    width: 100%;
    padding: 15px;
    margin-top: 0px;
    border-radius: 30px;
    border: none;
}

input.qty {
    width: 100%;
    height: 55px;
    background: #ededed;
    border: none;
    text-align: center
}



.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
    display: flex!important;
    order: 2

}

button.single_add_to_cart_button.btn.btn-primary {
    background: #095474;
    color: #fff;
    margin: 20px 0px;
    width: 80%;
    padding: 15px;
    margin-top: 0px;
}

input.qty {
    width: 50px !important;
    height: 50px;
    background: #ededed;
    border: none;
    text-align: center
}



.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled {
    display: flex !important;
    order: 2
}

p.man-place {
    width: 44%;
    margin: 0;
}

select#pa_size {
    background: #EDEDED;
    border: none;
    padding: 5px 10px;
}


.filter-box h3.widget-title {
    font-size: 16px;
}
.filter-box a {
    font-size: 16px;
    color: #212529;

}
.filter-box  a:before {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid grey;
    outline: none;
    content: ""!important;
    background: #fff;
    color: #fff!important;
    display: inline-block;
    margin-right: 10px!important;
    position: relative;
    top: 2px;
}
.filter-box .chosen a:before {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid grey;
    outline: none;
    content: "";
    background: #095474;
    color: #095474!important;
}

ul.yith-wcan-list.yith-wcan {
    padding-left: 15px;
}

.quantity.buttons_added input[type="button"]{
    display: none
}

p.woocommerce-result-count {
    display: none!important;
}
.filter-box h3.widget-title:after {
    content: ":"
}
.custom-select:focus {
    box-shadow: none;
    border:1px solid #ced4da
}
li.slider.price > span > input {
    border: none!important;
    color: #333!important;
    font-style: normal!important;
    font-weight: 400!important;
    padding: 0px!important;
    position: relative;
    top: 10px;
}
li.slider.price {
    position: relative;
    top: 20px;
}

h3.widget-title.berocket_aapf_widget-title {
    display: none
}

span.ui-slider-handle {
    background: #095474!important;
    width: 25px!important;
    height: 25px!important;
    position: relative;
    top: -8px!important;
}

.ui-slider-range {
    height: 8px!important;
    background: #095474!important;


}

.berocket_filter_slider {
    border: none!important;
}

span.right input {
    text-align: right;
}
ul.menu li:hover .submenu {
    z-index: 9999
}
.archive div#content > .row {
    display: block!important;
    margin: 0px;
}

.archive div#primary {
    padding: 0px!important;
}
section.related.products .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width: 767px) {
    section.related.products .products li {
        width: 100%!important
    }
}

label.dd-option-text {
    font-weight: normal!important;
    font-size: 14px!important;
}

form.woocommerce-currency-switcher-form .dd-select {
    background: none!important;
    border: none!important
}
form.woocommerce-currency-switcher-form .dd-selected {
    padding: 0px!important;
    border: none!important;
    padding-right: 20px!important
}

label.dd-selected-text {
    font-weight: normal!important;
    font-size: 16px!important;
}

form.woocommerce-currency-switcher-form {
    position: relative;
    top: 3px;
}

span.dd-pointer.dd-pointer-down {
    right: -5px;
    border-width: 6px!important;
    border-top-width:8px!important;
    top: 12px;
}
.price-range {
    text-align: center;
    color: #333;
}
.currency-eur .price-range:before {
    content: "€ "
}
.currency-usd .price-range:before {
    content: "$ "
}
.summary.entry-summary .price-range {
    text-align: left;
    margin-bottom: 20px;
}

.price-range.changed {
    color: #095474;
    font-weight: 600
}
.woocommerce-cart-form__contents .thead > tr {
    display: flex;
    width: 100%;
    justify-content: space-between
}
.woocommerce-cart-form__contents .tbody > tr {
    display: flex;
    width: 100%;
    justify-content: space-between
}

.woocommerce-cart-form__contents .woocommerce-cart-form__cart-item.cart_item > td {
    display: flex;
}

.woocommerce-cart-form__contents .product-remove {
    width: 5%;
}

.woocommerce-cart-form__contents .product-thumbnail {
    width: 20%;
}

.woocommerce-cart-form__contents .product-name {
    width: 45%;
}

.woocommerce-cart-form__contents .product-price {
    width: 10%;
}

.woocommerce-cart-form__contents .product-quantity {
    width: 20%;
}

.woocommerce-cart-form__contents .product-subtotal {
    width: 10%;
}

.woocommerce-cart-form__contents .product-thumbnail a {
    display: block;
    width: 100%
}
.woocommerce-cart-form__contents .product-thumbnail img {
    width: 100% !important;
}

form.woocommerce-cart-form {
    display: flex!important;
    white-space: normal;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
    width: 100%;
    display: block!important
}
.woocommerce-cart-form__cart-item.cart_item {
    display: flex;
}

.woocommerce-cart-form__cart-item.cart_item .quantity {
    width: 100%!important;
    display: flex;
}

.woocommerce-cart-form__contents thead {
    display: flex;
    width: 100%;
}
.woocommerce-cart-form__contents thead tr {
    width: 100%!important;
    display: flex;
}

.woocommerce-cart-form__contents tbody {
    display: flex;
    width: 100%;
}
.woocommerce-cart-form__contents tbody tr {
    width: 100%!important;
    display: flex;
}

.woocommerce-cart-form__contents tbody tr:last-of-type {
    display: none !important;
}

.woocommerce-cart div#left-sidebar {
    display: none
}
.woocommerce-cart-form__contents tbody {
    flex-wrap: wrap;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
    display: flex!important;
    flex-direction: column
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents  thead {
    background: #095474;
}
table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents th {
    color: #fff!important;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 300!important;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td {
    color: #000!important;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 400!important;
}
table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .qty {
    height: 30px;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .product-name {
    width: 65%;
}

.cart-collaterals {
    display: flex;
    /*margin-top: -80px;*/
}
.cart-collaterals:before {
    display: none!important
}

.cart_totals h2 {
    font-family: Lato;
}

.cart-collaterals table.shop_table.shop_table_responsive {
    font-family: Lato;
    margin-top: -50px;
}
.woocommerce-cart .woocommerce {
    display: flex;
    flex-direction: column;

}

.wc-proceed-to-checkout {
    display: flex;
}
.wc-proceed-to-checkout a {
    background: #095474;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 600;
}
table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents  thead {
    background: #095474;
}
table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents th {
    color: #fff!important;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 300!important;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td {
    color: #000!important;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 400!important;
}
table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .qty {
    height: 30px;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .product-name {
    display: flex;
    flex-direction: column;
    width: 65%;
}
@media (max-width: 768px) {
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .product-name,
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .product-price,
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .product-quantity {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .woocommerce-checkout table.cart .product-thumbnail {
        width: 100%;
    }
}
.cart-collaterals {
    display: flex;
    /*margin-top: -80px;*/
}
.cart-collaterals:before {
    display: none!important
}

.cart_totals h2 {
    font-family: Lato;
}

.cart-collaterals table.shop_table.shop_table_responsive {
    font-family: Lato;
    margin-top: -50px;
}
.woocommerce-cart .woocommerce {
    display: flex;
    flex-direction: column;

}

.wc-proceed-to-checkout {
    display: flex;
}
.wc-proceed-to-checkout a {
    background: #095474;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 600;
}
.wc-proceed-to-checkout a:hover {
    background: #EC1D25;
    border-color: #EC1D25
}

td.product-name a {
    color: #000;
}
td.product-name a i {
    font-size: 10px!important;
}
/*obcy*/
.variations, .single_variation_wrap .quantity {
    display: none !important;
}
.variations_form {
    order: 1;
}
.dropdown-user {
    display: block;
    color: #333;
    padding: .25rem 1.5rem;
}

.search-form {
    display: flex;
    width: 100%;
}
.search-input{
    width: 100%;
}
.buttons-box {
    order: 2;
}
.dropdown-button {
    cursor: pointer;
}
.dropdown-menu {
    width: 230px;
}
.user-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-panel img {
    width: 30px;
    height: 30px;
}
.languages-box {
    display: flex;
    justify-content: flex-end;
}
.user-underpanel {
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.user-underpanel a {
    color: white;
}
.cart-box {
    background: url(../../../assets/img/icones/cart.png) no-repeat;
    background-size: 40px 40px;
    background-position: center;
    width: 50px;
    height: 50px;
    position: relative;
}
.cart-box .cart-contents {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #095474;
    border-radius: 360px;
    width: 27px;
    height: 27px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wishlist-box {
    background: url(../../../assets/img/icones/wishlist.png);
    width: 50px;
    height: 50px;
    position: relative;
}
.wishlist-box .widget_wishlist_products_counter {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #095474;
    border-radius: 360px;
    width: 27px;
    height: 27px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-custom-details {
    list-style: none;
    margin: 10px 0 10px;
    padding: 0;
}
.product-total .price-range {
    text-align: left;
}
.cart_item > .product-name {
    display: flex;
    flex-direction: column;
}
.wc-item-meta li:last-child {
    display: none;
}
.documents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.documents-order {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.documents-order h3 {
    border: 2px solid #095474;
    border-left: none;
    border-right: none;
    padding: 10px 0 10px;
}
.documents-empty {
  padding: 20px;
}
.document {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 5px 0 5px;
}
.document-name {
    width: 300px;
}
.document-icon {
    width: 30px;
    height: 40px !important;
}
.document-button {
    width: 100px;
    height: 40px;
}
.wishlist {
    background: #095474;
    width: 54px;
    height: 54px;
    border-radius: 28px;
    margin: 0 10px 0;
}
.wishlist img{
    max-width: 33px !important;
    max-height: 33px !important;
}
.wishlist-thumbnail {
    position: absolute !important;
    right: 0;
}
.wishlist-thumbnail img {
    max-height: 30px !important;
    max-width: 30px !important;
}
.customize-container {
    display: flex;
    flex-wrap: wrap;
}
.customize-image {
    border: 1px solid #000;
    width: 48%;
    margin: 1% 1%;
}
a.button.fpd-catalog-customize {
    width: 0 !important;
    background: none;
    cursor: default;
    pointer-events: none;
    position: absolute;
    top: 20px;
}
a.button.fpd-catalog-customize:hover {
    background: none;
}
a.button.fpd-catalog-customize:before {
    content : "\f1fc";
    font-family: "Font Awesome 5 Free";
    color: #fff;
    background: #F29D2B;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
}
form.cart {
    display: flex;
}
form.cart .quantity {
    display: none;
}
.single_variation_wrap {
    width: 100%;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    display: none;
}
.woocommerce-billing-fields, .woocommerce-shipping-fields, .woocommerce-additional-fields, #order_review_heading, .shop_table.woocommerce-checkout-review-order-table {
    display: none;
}
pre {
    overflow: visible;
}
.checkout.woocommerce-checkout {
    display: flex;
    flex-direction: column-reverse;
    margin: -170px 0 0;
}
.woocommerce-checkout-payment {
    width: 300px;
    height: 100px;
}
.form-row.place-order {
    margin: -118px 0 0 !important;
}
.woocommerce-table__product-total.product-total {
    position: relative;
}
.woocommerce-table__product-total.product-total .price-range:before {
    position: absolute;
    top: calc(50% - 21px);
}
.woocommerce-thankyou-order-details {
    display: flex;
    width: 1140px;
}
.woocommerce-thankyou-order-details li {
    display: flex;
    align-items: center;
}
.woocommerce-order {
    display: flex;
    flex-direction: column;
}
.woocommerce-order-details, .woocommerce-customer-details, .product-custom-details, .woocommerce-table__product-name, .woocommerce-customer-details address{
    display: flex;
    flex-direction: column;
}
.woocommerce-table__product-name {
    display: flex;
}
@media (min-width: 971px) and (max-width: 1468px) {
  .map img {
      width: 150px;
  }
}
@media (min-width: 971px) and (max-width: 991px) {
  .map {
    flex-direction: column;
  }
}
@media (min-width: 971px) {
    .mobile, .mobile-menu{
        display: none !important;
    }
}
@media (max-width: 970px) {
    .desktop {
        display: none ;
    }

    .mobile {
        display: none ;
    }

    ul.menu>li {
        padding: 12px 0;
    }

    .csstransforms .flash-info h3 {

        bottom: 30px;
    }

    .submenu-content-box {

        flex-direction: column;

    }

    .submenu-content-box .submenu-content {

        width: 100%;
    }

    .wc-tabs li {
        display: block !important;
        text-align: center;
    }

    .mobile li span {
      display: block;
      padding: 0 0 12px;
    }

    .mobile-menu {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .mobile-menu img {
        padding: 5px;
    }

    .menu-subtitle {
        cursor: pointer;
    }

    .menu li .submenu-content-box, .menu li:nth-child(9) .submenu-content-box {

        min-height: auto !important;
    }

    .submenu-content-box {
        width: 100%;
    }

    .top-header, .contact-info {
        text-align: center;
    }

    ul.menu li:hover > span {

        color: #fff;
    }

    ul.menu li:hover {

        background: transparent !important;
    }

    li.allo .submenu {

        max-width: 100%;
    }

    li.allo .submenu-content-box {

        margin: 0 auto;
    }

    .submenu {
        position: static;
        opacity: 1;
        z-index: 999999;
    }

    ul.menu {
        flex-direction: column;
    }

    .menu-product-box {
        display: none;
    }

    .submenu, ul.menu li:hover .submenu, ul.submenu-menu {
        display: none;
    }

    .main-menu li {
        display: block;
        text-align: center;
    }

    .submenu-menu li{
        text-align: left;

    }

    .container {
        max-width: 100%;
    }

    .map {
        display: block;
        margin: 10px;
    }

}
.custom-social {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 0;
}
.custom-social .soc {
    font-size: 25px;
    margin: 0 20px 0 0;
}

.custom-social a {
    color: #212529;
}

.custom-social a:hover {
    color: #777;
}

.woocommerce-checkout #payment{
    background: #fff !important;
}


.woocommerce-checkout #payment{
    background: #fff !important;
}


.woocommerce button.button.alt, .woocommerce button.button.alt:hover {

    background: #095474;
}

.woocommerce table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail {
    display: block;
}
.product-thumbnail:before {
    display: none;
}

.entry-footer {
    display: none !important;
}

.yith-wcan-list li span {
    display: none;
}

.woocommerce-pagination .page-numbers li {
    background: #095474;
}
.woocommerce-pagination .page-numbers li a{
    color: #000;
}
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover  {
    color: #000;
}
.our-adivces .quantity-minimum,
.product-list .quantity-minimum,
.events .quantity-minimum {
    display: none;
}
.quantity-minimum {
    text-align: right;
    color: #095474;
}

p.menu-subtitle {
    margin-bottom: 0;
    margin-top: 5px;
}
.submenu-menu li {
    padding: 5px 0 0 0;
}

table.tinvwl-table-manage-list thead tr {
    background: #095474;
    color: #fff;
}
table.tinvwl-table-manage-list thead th {
    color: #fff
}

table.tinvwl-table-manage-list input[type="checkbox"] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid grey
}

table.tinvwl-table-manage-list input[type="checkbox"]:checked {
    background: #095474
}

.tinv-header {
    display: none
}
.tinv-wishlist .product-remove button {
    padding: 0;
    cursor: pointer;
}
.tinv-wishlist .product-remove button:hover {
    background: #EC1D24;
    color: #fff;
}

table.tinvwl-table-manage-list th input[type="checkbox"]:checked {
    background: grey
}



tr.wishlist_item {
    border-bottom: 1px solid #f1f1f1
}

table.tinvwl-table-manage-list button.button.alt {
    font-size: 13px;
}

.woocommerce-order-received * {
    font-family: Lato;
}

ul.woocommerce-order-overview * {
    font-size: 12px;
}
ul.woocommerce-order-overview span {
    padding-right: 10px;
}

.woocommerce-order-received section.woocommerce-customer-details {
    display: none
}

.woocommerce-order-received td.woocommerce-table__product-total.product-total {
    display: none
}

.woocommerce-order-received th.woocommerce-table__product-table.product-total {
    display: none
}

.woocommerce-order-received p.cart-empty {
    display: none
}

ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    padding: 0;
}
#tinvwl_product_actions option:nth-child(1) {
    display: none;
}
ul.tabs.wc-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul.tabs.wc-tabs > li._tab {
    margin: 0 15px!important;
}

.top-header {
    background: #848484
}
@media screen and (min-width: 768px) {
    .user-panel.pt-4 {
        justify-content: flex-end;
        padding-top: 0!important
    }

    .user-underpanel {
        justify-content: flex-end
    }
}
body * {
    font-family: Lato
}
@media screen and (max-width: 767px) {
    li.allo span::after {
        display: none
    }
}
.wishlist_item .variation {
    display: none;
}
.woocommerce-product-rating span {
    font-family: star;
}
.product-content {
    display: flex;
}
.product-content .summary.entry-summary {
    padding: 0 0 0 20px;
}
@media (max-width: 768px) {
    .product-content {
        flex-direction: column;
    }
    .product-content .summary.entry-summary {
        padding: 0;
    }
}
@media screen and (max-width: 767px) {
    section#feature-products .product {
        width: 100%;
    }
    .sort-box {
        width: 100%;
    }
    .sort-box .price {
        width: 100%;
        margin-bottom: 40px;
        margin-top: -40px;
    }
    ul.berocket_aapf_widget.berocket_style_block.roundpcs.pcs {
        padding-left: 0;
    }
}
.quantity {
    display: none
}
@media screen and (max-width: 480px) {
    .products .product {
        width: 100%!important;
    }
}
#our-skills .our-skills-title {
    text-align: center;
    color: #fff;
    background: #ed4b1f;
    padding: 40px 0 40px;
}
#our-skills .our-skills-title h1 {
    font-weight: 600;
    text-transform: uppercase;
}
#our-skills .our-skills-title p {
    font-size: 18px;
}
#our-skills .our-skills-tiles {
    padding-bottom: 100px;
}
#our-skills .tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px 0;
}
#our-skills .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#our-skills .icon img {
    width: 100px;
    height: auto;
}
#our-skills .description {
    width: 100%;
    text-align: center;
    margin-top: -75px;
    z-index: -1;
    background: #e6e6e6;
    border-radius: 10px;
    padding: 100px 50px 20px 50px;
}
#our-skills .description h2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
}
#our-skills .description p {
    font-weight: 600;
}
ul.social *{
    font-family: "Font Awesome 5 Brands"
}
.woocommerce-form__label.woocommerce-form__label-for-checkbox {
    padding: 0 0 0 20px;
}


.maquette h2, .maquette h3, .maquette h5 {
    margin: 5px 0;
}

.maquette h2{
    font-weight: 800;
    color: #095474;
    font-size: 66px;
}


.maquette h3{
    font-weight: 800;
    color: #095474;
    font-size: 37px;
}

.maquette h5{
    color: #095474;
    font-size: 18px;
    font-weight: bold;
}

.maquette h4 {
    text-align: left;
    padding-left: 12%;
    padding-top: 30%;
    transform: rotate(-45deg);
}




.maquette .square {
    background: #DA8A29;
    color: #fff;
    width: 230px;
    height: 230px;
    margin: 0 auto;
    font-size: 37px;
    transform: rotate(45deg);
}


section#products  .product-img {
    min-height: 250px;
    display: flex
}
section#products  .product-img img {
    max-height: 250px;
    width: auto;
}

@media screen and (max-width: 980px) {
    section#products  .product-img {
        min-height: 200px;
    }
    section#products  .product-img img {
        max-height: 200px;
        width: auto;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 90% !important; }
    .container.fullwidth {
        max-width: 100%!important
    }
    .woocommerce-tabs.wc-tabs-wrapper {
        width: 120%;
        left: -10%;
        position: relative;
        padding-left: 10%;
        padding-right: 10%;
    }

}



.woocommerce-message {
    background: #8fae1b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0;
}
.woocommerce-message a {
    background-color: #ebe9eb;
    text-decoration: none;
    background-image: none;
    color: #515151;
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    order: 2;
}

.woocommerce-message a:hover {
  background-color: #dad8da;
}

.fpd-modal-overlay.fpd-fullscreen>.fpd-modal-wrapper {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.fpd-modal-wrapper {
    top: 50%!important;
    width: auto!important;
    height: auto!important;
}

small.dd-selected-description.dd-desc.dd-selected-description-truncated {
    display: none
}

small.dd-option-description.dd-desc {
    display: none
}

.cart-box .cart-contents {
    width: auto;
    min-width: 27px;
    right: auto;
    left: 20px;
}

.wishlist-box {
    background: none;
    width: auto;
    height: auto;
}


a.wishlist_products_counter {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    background: url(../../../assets/img/icones/wishlist.png);
    padding: 0 25px;
    margin-top: -26px;
    margin-left: -71px;
}

span.wishlist_products_counter_number {
    min-width: 27px;
    height: 27px;
    background: #095474;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
}

.wishlist-box .widget_wishlist_products_counter {
    background: transparent;
}
.wishlist-box {
    min-width: 50px;
}

.woocommerce-product-gallery__image > a > img {
    max-height: 350px;
    width: auto!important;
    margin: auto;
}

.flex-viewport {
    margin-bottom: 30px
}

ul.phoen_nav_tab {
    list-style-type: none;
    padding-left: 0;
}
ul.phoen_nav_tab li a {
    color: #333;
    display: block;
    padding: 10px 5px!important;
    border-bottom: 1px solid #eaeaea
}
ul.phoen_nav_tab .is-active a, ul.phoen_nav_tab a:hover {
    background: #eaeaea;
}
.sps-add-comment-to-customization, .sps-add-comment-to-customization2 {
  display: none;
}
.woocommerce-currency-switcher-form  ul> li:first-child { display: none; }
.submenu-menu-allo a {
  color: #333;
}
.sps-dropdown-circle.custom:after {
    content: "Choose your custom color";
    position: absolute;
    width: auto;
    width: 170px;
    background: #095474;
    color: #fff;
    right: 70px;
    top: 80px;
    font-size: 13px;
    line-height: 1;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity .5s;
}
.sps-dropdown-circle.custom:hover:after {
    opacity: 1;
}
#icons .row> div {
    display: flex;
    justify-content: center;
    align-items: center
}
.icon-box {
    width: 100%
}

.small-prev{
    font-size: 33px;
    color: #095474;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 35%;
    z-index: 999999999;
}

.small-next{
    font-size: 33px;
    color: #095474;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 35%;
    z-index: 999999999;
}

.product-thumb-slider .slick-slide {
    text-align: center;
}

.product_id {
    opacity: .3
}
.product-thumb-slider {
    width: 100%;
}
.slick-list {
    overflow: hidden
}

section#products .product-img {
    height: 250px;
    position: relative;
}
.product-thumb-slider .slick-arrow {
    position: absolute;
    transform: translateY(-50%);
    z-index: 100;
    font-size: 36px;
    color: #095474
}

.slick-arrow {
  cursor: pointer;
}

.product-thumb-slider .small-prev {
    left: 0;
    top: 50%;
}
.product-thumb-slider .small-next {
    right: 0;
    top: 50%;
}
.product-thumb-slider {
    position: relative;
}

.product-container {
    width: 100%;
    text-align: center;
}

.product-thumb-slider .slick-slide {
    text-align: center;
}
.product-thumb-slider .slick-slide {
    position: relative;
    /* height: 100%; */
}
.product-list .product-img .product-thumb-slider .slick-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999;
    transform: translate(-50%, -50%);
}
.product-thumb-slider .slick-list, .product-thumb-slider .slick-track {
    height: 100%;
}

.tinv-wraper.woocommerce {
    position: relative;
    z-index: 9
}

#currency-switcher {
  cursor: pointer;
}
.specify-the-delays button{
  background: #095474;
  border-radius: 20px;
  padding: 5px 15px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.before-ask-for-quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;
}
