/* HIDE WORDPRESS !!!! BUT I CAN'T*/

/*HIDE MENU*/

@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
#adminmenuback {
    background: #095474 !important;
}

body {
    font-family: Lato !important;
}
#wpfooter,
#welcome-panel,
#dashboard-widgets-wrap,
.update-nag,
.wp-menu-image,
#screen-meta-links

 {
  display: none;
}

/*MENU COLOR*/

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu  {
  background: #095474;

}
h2.ui-sortable-handle {
    height: 1px !important;
    padding: 2px 0 !important;
    width: 100%;
    background: #000 !important;
    text-indent: -999999px;
}
#woocommerce-product-data h2.ui-sortable-handle {
  height: 25px !important;
  padding: 10px !important;
  background: none !important;
  text-indent: 0;
}
#woocommerce-product-data h2.hndle:before,
label[for=_virtual],
label[for=_downloadable] {
  display: none !important;
}
.postbox {
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .current .wp-menu-name{
  background: #095474;
}

#adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu .update-plugins {

  background-color: transparent !important;
  color: #fff !important;
  font-weight: bold !important;
}
.wp-media-buttons-icon:before{
  color: #fff !important;
}
.wp-core-ui .button-primary,
.wp-picker-input-wrap .button,
.wp-color-result-text,
.upload_image_button,
#edit-slug-buttons .button,
.inside .button,
#commentsdiv .button,
.button-secondary {
  text-shadow: none !important;
  background: #095474 !important;
  color: #fff !important;
}

.wp-core-ui .button-primary:hover,
.wp-picker-input-wrap .button:hover,
.wp-color-result-text:hover,
.upload_image_button:hover,
#edit-slug-buttons .button:hover,
#commentsdiv .button:hover,
.inside .button:hover,
.button-secondary:hover {
  color: #fff !important;
  background: #00a0d2 !important;
}

#adminmenu div.wp-menu-name {
  padding: 8px !important;
  text-transform: capitalize;
}

#adminmenu .wp-submenu a, #adminmenu li.opensub>a.menu-top {

  color: #fff;
}
#adminmenu .wp-submenu a:hover, #adminmenu a:hover {

  background: #777;
  color: #fff;
}


#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, {

  background: #777 !importnt;
}

#adminmenu li.menu-top:hover {
  color: #fff !important;
}

#adminmenu .update-plugins {
  background: #b8e6fa;
  color: black;
  border-radius: 0;
  float: right;
  margin-right: 5px;
}
#adminmenu a:hover,#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top {
  background: #000;
}


#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #095474;
}

/*BODY*/
body.wp-admin, #wpcontent {
  background: white;
}
.wp-toolbar {
  padding-top: 0 !important;
}
.wrap h1 {
  text-transform: uppercase;
  font-size: 20px
}
/*TABS*/
.subsubsub {
  font-size: 16px;
  text-transform: uppercase;
}
.subsubsub li, .subsubsub li a .count {
  color: black;
}
.subsubsub li a.current .count{
  color: #095474;
  font-weight: 900;
}

/*DASHBOARD*/
.allo-logo {

}
/*NOTICE*/
.notice {
  display: none;
}
.admin-delivery {
  display: flex;
  justify-content: space-around;
}
.admin-delivery-group {
  display: flex;
  flex-direction: column;
}
#delays h2 {
  background: #fff;
  border-bottom: none;
  text-align: center;
  text-transform: uppercase;
}
#delays h2:before {
  content: none;
}
#delays .inside {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#set_delivery {
  width: 85px;
  align-self: center;
}
.display_meta th {
  display: block;
  width: 140px !important;
}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents th {
    font-size: 16px;
    font-weight: 700!important;

}

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td.product-name a {
    font-size: 17px;
    font-weight: 700;
}
table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .product-custom-details {
    font-size: 11px;
}

.woocommerce_order_items_wrapper.wc-order-items-editable .view,  #woocommerce-order-items    .add-items{

    display: none !important;
}

.woocommerce_order_items_wrapper.wc-order-items-editable .edit, #woocommerce-order-items .wc-order-add-item {

    display: block !important;
}


button#place_order {
    border-radius: 0;
    font-family: Tahoma;
    margin-top: 20px;
    max-width: 300px;
}
body, p, ul, ol, input, textarea {
    font-family: Lato !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Lato !important;
}

.woocommerce-terms-and-conditions-wrapper {
    display: none
}

div#payment {
    width: 100%;
}

.form-row.place-order {
    padding-right: 0!important;
    display: flex;
    justify-content: flex-end;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background: none;
}

div#customer_details {
    display: none
}

div#payment {
    margin-top: -50px;
}

.form-row.place-order {
    margin-top: 0px!important;
}
@media screen and (max-width: 768px) {
td.product-remove {
    width: 100%!important
}
}
.wc-order-totals-items, .item_cost, .line_cost {
    display: none;
}
.order_actions option:nth-child(4) {
  display: none;
}
#woocommerce-order-downloads,
#icl_div_config {
  display: none;
}
#fpd-orders .updated {
  display: none;
}
.radykal-tabs .description {
  display: none;
}
input[type="submit"] {
  background: #095474 !important;
  color: #fff !important;
}
#price_range_usd {
  display: none;
}

#normal-sortables {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
}

#acf-group_5cd182bb5888a { order: 2;}
#acf-group_5cb46f75c365d { order: 8;}
#acf-group_5cd1825b7eb9f { order: 7;}
#woocommerce-order-data  { order: 5;}
#woocommerce-order-items { order: 1;}
#fpd-order{order: 6;}
#get_pdf{order: 4;}
#delays {order: 3;}

.woocommerce-order-data__heading, .woocommerce-order-data__meta.order_number {
    display: none;
}

.item.sortable, .quantity.sortable, th.wc-order-edit-line-item{
    background: #095474 !important;
    color: #fff !important;
}

.wc-order-add-item .add-order-fee,
.wc-order-add-item .add-order-shipping,
.wc-order-add-item .cancel-action {
  display: none;
}
.toggle-indicator {
  display: none;
}

div#woocommerce-order-items {
    order: -1
}

p.add-items {
    display: none
}

h2.woocommerce-order-data__heading {display: none}

p.woocommerce-order-data__meta.order_number { display: none}

p.form-field.form-field-wide { display: none }

p.form-field.form-field-wide.wc-order-status { display: block; }

p.form-field.form-field-wide.wc-customer-user {display: block;margin-top: 30px!important;}

p.form-field.form-field-wide.wc-customer-user label a {
    text-decoration: none;
    color: #095474;
    font-weight: 400;
}


div#order_data {
    padding: 30px;
}
.wc-order-item-thumbnail {
    width: 500px !important;
    height: 300px !important;
}
.fpd-show-order-item {
    position: relative;
    width: 0 !important;
    height: 0 !important;
    border: none !important;
    padding: 0 !important;
    font-weight: 800 !important;
}
.fpd-show-order-item:hover {
    position: relative;
    width: 0 !important;
    height: 0 !important;
    border: none !important;
    padding: 0 !important;
}
.fpd-show-order-item:before {
    content : "\f1fc";
    font-family: "Font Awesome 5 Free";
    color: #fff;
    background: #F29D2B;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -22px;
    left: 0;
}
td.name .edit {
    margin-top: 25px;
}

.wc-order-item-thumbnail img {
    height: 100%;
    width: auto!important
}
.wc-order-item-thumbnail {
    background: #fff!important
}

.wc-order-item-name {
  display: block;
}

.edit-order-item.tips {
  display: none !important;
}
input.quantity {
  display: none !important;
}
.quantity.sortable {
  color: #095474 !important;
}
.save-action {
  display: none !important;
}
#menu-settings {
  display none;
}
#hide-fpd {
  display: none;
}
.dimensions_field {
  display: none !important;
}
#tagsdiv-product_tag,
#fpd-meta-box,
#wp-admin-bar-top-secondary {
  display: none;
}

.wc-order-item-images {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;
}

.wc-order-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 150px;
  padding: 5px;
  border: 2px solid #e8e8e8;
  box-sizing: border-box;
}

.wc-order-item-image:first-child {
  margin: 0;
}

.wc-order-item-image.wc-order-item-add {
  border: 2px solid #000;
  cursor: pointer;
  height: 150px;
}

.wc-order-item-image .add:before {
  position: absolute;
  top: 25%;
  left: calc(50% - 2px);
  content: '';
  height: 50%;
  width: 2px;
  background: #000;
}

.wc-order-item-image .add:after {
  position: absolute;
  top: 25%;
  left: calc(50% - 2px);
  content: '';
  height: 50%;
  width: 2px;
  background: #000;
  transform: rotate(90deg);
}

.wc-order-item-image .wc-order-item-delete {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  text-transform: lowercase;
}

.wc-order-item-image img {
  width: auto;
  height: 100%;
}

.custom-header {
  text-transform: capitalize !important;
}

.custom-header:before {
  content: '' !important;
}

#featured,
.featured.column-featured,
.manage-column.column-featured,
#product_tag,
.product_tag.column-product_tag,
.manage-column.column-product_tag
 {
  display: none;
}

table.wp-list-table .column-name {
  width: 33% !important;
}

.suppliers {
  display: flex;
  flex-direction: column;
}

.supplier {
  display: flex;
  width: 20%;
  margin: 0 0 5px 0;
  color: #fff;
}

.supplier-number,
.supplier-name,
.supplier-email,
.supplier-undo,
.supplier-trash {
  background: #095474;
  margin: 0 5px 0 0;
  padding: 10px;
}

.supplier-name {
  cursor: pointer;
  width: 40%;
}

.supplier-undo,
.supplier-trash {
  cursor: pointer;
}

.supplier-name:hover,
.supplier-undo:hover,
.supplier-trash:hover {
  background: #00a0d2;
}

.supplier-products {
  display: none;
}

.supplier-product {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 33px;
  margin: 0 0 5px 0;
}

.supplier-product-number,
.supplier-product-image,
.supplier-product-title,
.supplier-product-description,
.supplier-product-status,
.supplier-product-price,
.supplier-product-notfound {
  display: flex;
  align-items: center;
  border: 1px solid #095474;
  padding: 10px;
  margin: 0 5px 0 0;
}

.supplier-product-image img {
  height: auto;
  width: 20px;
}

.supplier-product-title {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.supplier-product-description {
  width: 50%;
}

.supplier-product-price {
  width: 10%;
}

.supplier-product-status {
  width: 10%;
}

.supplier-product-notfound {
  width: 100%;
}

.firstletter::first-letter {
  display: block;
  text-transform: capitalize;
}

.supplier-block {
  color: #fb7676;
}

.supplier-address {
  display: block;
  margin-top: .5em;
  font-size: .92em!important;
  color: #888;
}

.status-publish .status, .supplier-status-publish {color: green;}
.status-pending .status, .supplier-status-pending {color: #b9b907;}
.status-modification-needed .status, .supplier-status-modification-needed {color: orange;}
.status-not-selected .status, .supplier-status-not-selected {color: red;}
.status-trash .status, .supplier-status-trash {color: blue;}

#adminmenu li.wp-menu-separator,
#menu-settings {
  display: none;
}

/*USER*/
.user-rich-editing-wrap,
.user-syntax-highlighting-wrap,
.user-admin-color-wrap,
.user-comment-shortcuts-wrap,
.user-admin-bar-front-wrap {
  display: none;
}
