/* =======================
   Easy Registration Forms
   =======================*/
.erf-container {
    position: relative !important;
}
.erf-container:before {
    content: " ";
    display: table;
}
.erf-container:after {
    clear: both;
    content: " ";
    display: table;
}
.erf-container .erf-form input,
.erf-container .erf-form label,
.erf-container .erf-form select,
.erf-container .erf-form textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    background: none;
    height: auto;
    white-space: normal;
}

.erf-container .erf-form textarea {
    min-height: 8em;
    height: unset !important;
}
.erf-container .erf-error:empty,
.erf-container p:empty {
    display: none;
}

/*Styles*/
.erf-container .erf-form .form-control,
.erf-container .erf-form .other-option + label input[type="text"] {
    background-color: #fff;
    box-sizing: border-box;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: inherit;
    border: 1px solid #ced4da;
    padding: 6px 10px;
    height: 38px;
    width: 100%;
    line-height: 1.3;
    outline: none;
    max-width: 60%;
}
.erf-container .fb-rich-text {
    max-width: 60%;
}
.erf-container .erf-form .other-option + label input[type="text"] {
    display: inherit;
}
.erf-container .erf-form .other-option + label input[type="text"] {
    margin-left: 10px;
    height: 1em;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.erforms-form-widget .erf-container .erf-form .form-control,
.erforms-login-widget .erf-container .erf-form .form-control,
.erforms-form-widget .erf-container .erf-payment-wrapper,
.erforms-form-widget .erf-container .fb-rich-text {
    max-width: 100%;
}

.erf-container .erf-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#ced4da'><polygon points='0,0 100,0 50,50'/></svg>")
        no-repeat;
    background-size: 12px 20px;
    background-position: top 14px right 10px;
}

.erf-layout-two-column.erf-container .erf-form .form-control {
    max-width: 100%;
}

/*Styles*/
.erf-container .erf-form .intl-tel-input {
    width: 100%;
    max-width: 100%;
}
.erf-container .erf-form .form-group {
    display: block;
    width: 100%;
}
.erf-label-inline.erf-container .erf-form .intl-tel-input,
.erf-label-inline.erf-container .erf-form .form-control {
    max-width: 70%;
    width: 70%;
    display: inline-block;
}

.erf-label-inline.erf-container .erf-form .intl-tel-input .form-control {
    width: 100%;
    max-width: 100%;
}
.erf-label-inline.erf-container .erf-form .erf-price-total {
    max-width: 100%;
    margin-left: 0;
}
.erf-label-inline.erf-container .fb-rich-text {
    max-width: 100%;
}

.erf-container .erf-modal .erf-form .form-control {
    max-width: 100%;
}

.erf-container .erf-form select[multiple="true"] {
    height: auto;
}
.erf-container .erf-form input[type="checkbox"],
.erf-container .erf-form input[type="radio"] {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 14px;
    height: 14px;
    margin: 4px 5px 0 3px;
    display: inline-block;
    vertical-align: top;
}

/***********
Border Style
************/
.erf-style-flat .erf-form .form-control,
.erf-style-flat .erf-form .other-option + label input[type="text"] {
    border-radius: 0px !important;
}
.erf-style-rounded .erf-form .form-control,
.erf-style-rounded .erf-form .other-option + label input[type="text"] {
    border-radius: 19px !important;
    padding: 10px 15px;
    overflow: hidden;
}
.erf-style-rounded.erf-label-top.erf-container
    .erf-form
    label[class$="-label"] {
    padding-left: 15px;
}

.erf-style-rounded-corner .erf-form .form-control,
.erf-style-rounded-corner .erf-form .other-option + label input[type="text"] {
    border-radius: 4px !important;
}
.erf-style-border-bottom .erf-form .form-control,
.erf-style-border-bottom .erf-form .other-option + label input[type="text"] {
    border-radius: 0px !important;
    border-bottom: 2px solid #ced4da;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.erf-style-flat .erf-form .fb-button .erf-submit-button,
.erf-style-border-bottom .erf-form .fb-button .erf-submit-button {
    border-radius: 0 !important;
}

.erf-style-rounded .erf-form .fb-button .erf-submit-button,
.erf-style-rounded .erf-form .erf-form-nav .erf-submit-button {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.erf-style-rounded-corner .erf-form .fb-button .erf-submit-button,
.erf-style-rounded-corner .erf-form .erf-form-nav .erf-submit-button {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.erf-style-rounded .intl-tel-input .selected-flag {
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
}
/*Border Style Ends*/

.erf-container .erf-form input:hover,
.erf-container .erf-form textarea:hover,
.erf-container .erf-form select:hover,
.erf-container .erf-form input:focus,
.erf-container .erf-form textarea:focus,
.erf-container .erf-form select:focus {
    border: 1px solid #ccc;
}
.erf-style-border-bottom .erf-form input:hover,
.erf-style-border-bottom .erf-form textarea:hover,
.erf-style-border-bottom .erf-form select:hover,
.erf-style-border-bottom .erf-form input:focus,
.erf-style-border-bottom .erf-form textarea:focus,
.erf-style-border-bottom .erf-form select:focus {
    border: 2px solid #ccc;
}

.erf-container .erf-form input:focus,
.erf-container .erf-form textarea:focus,
.erf-container .erf-form select:focus {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.erf-container .erf-form input[type="checkbox"]:hover,
.erf-container .erf-form input[type="checkbox"]:focus,
.erf-container .erf-form input[type="radio"]:hover,
.erf-container .erf-form input[type="radio"]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.erf-container .erf-form input[type="file"]::-webkit-file-upload-button {
    border: 1px solid #ced4da;
    background: #ced4da;
    line-height: 32px;
    color: #fff;
    outline: none;
}
@supports (-webkit-overflow-scrolling: touch) {
    .erf-container .erf-form input[type="file"]::-webkit-file-upload-button {
        border: 1px solid #ced4da;
        color: inherit;
        background: transparent;
        line-height: 34px;
        outline: none;
    }
}
.erf-container.erf-style-rounded
    .erf-form
    input[type="file"]::-webkit-file-upload-button {
    position: relative;
    top: -2px;
}
.erf-container.erf-style-rounded
    .erf-form
    input[type="file"]::-webkit-file-upload-button {
    margin-left: -15px;
    margin-top: 1px;
    padding-left: 30px;
}
.erf-container .erf-form input[type="file"]::-webkit-file-upload-button:after {
    display: block;
    clear: both;
    content: "";
}
.erf-container .erf-form input[type="file"] {
    padding: 0;
    margin: 0;
    border: 1px solid #ced4da;
    outline: none;
}
.erf-container .erf-form .erf_img_preview {
    margin-top: 10px;
    max-width: 250px;
    height: auto;
}
.erf-loader {
    width: 1em;
    height: 1em;
    margin-left: 1em;
    border: 2px solid currentColor;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-left-color: transparent;
}
.erf-loader {
    -webkit-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* Resets
----------------------------------------------------------------------------- */
.erf-container,
.erf-container .erf-form * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.erf-container .clearfix:after {
    clear: both;
    display: block;
    content: "";
}

.erf-container .rendered-form:after {
    clear: both;
    display: block;
    content: "";
}

/*  Layout Field wrap */
.erf-container .erf-form .erf-form-nav .erf-submit-button {
    padding: 10px 15px;
    text-transform: uppercase;
    line-height: 1.3em;
    position: relative;
}

.erf-container .erf-form .form-group,
.erf-container .erf-form .fb-rich-text {
    padding: 10px 0;
    width: 100%;
    white-space: normal;
    margin: 0;
}

.erf-container button {
    border-color: inherit;
    min-height: 38px;
    min-width: 100px;
}
/*Two Column Layout*/
.erf-layout-two-column.erf-container .erf-two-columns {
    clear: both;
    width: 100%;
}
.erf-layout-two-column.erf-container .erf-two-columns .form-group {
    width: 48%;
}
.erf-layout-two-column.erf-container
    .erf-two-columns
    .form-group:nth-child(odd) {
    float: left;
    margin-right: 2%;
}
.erf-layout-two-column.erf-container
    .erf-two-columns
    .form-group:nth-child(even) {
    float: right;
    margin-left: 2%;
}
.erf-layout-two-column.erf-container .intl-tel-input {
    width: 100%;
}
.erf-layout-two-column.erf-container.erf-contact .fb-textarea {
    width: 100% !important;
    margin: 0 !important;
}
.erf-container .erf-form-nav {
    padding: 10px 0;
}
.erf-form-nav.clearfix:empty {
    display: none;
}
.erf-container .erf-submit-button .erf-nav-prev,
.erf-container .erf-form-nav .erf-nav-prev {
    float: left;
}
.erf-container .erf-submit-button .erf-nav-next,
.erf-container .erf-form-nav .erf-nav-next {
    float: right;
}

.erf-container .erf-btn-center button {
    display: inherit;
    margin: 0 auto;
}
.erf-container .erf-btn-right button {
    float: left;
}
.erf-container .erf-btn-right button {
    float: right;
}

.erf-layout-two-column.erf-container .erf-form-nav:after,
.erf-layout-two-column.erf-container .erf-two-columns:after {
    display: block;
    clear: both;
    content: "";
}
.erf-layout-two-column.erf-container .fb-rich-text {
    max-width: 100%;
}
/*Label Inline Layout*/
.erf-label-inline.erf-container .erf-form .checkbox-group,
.erf-label-inline.erf-container .erf-form .radio-group {
    width: 70%;
    display: inline-block;
}

/* Labels */
.erf-password-lost-container .erf-form label[class$="-label"],
.erf-container .erf-form label[class$="-label"] {
    float: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    display: block;
    white-space: normal;
}
/* Label Top */
.erf-label-top.erf-container .erf-form label[class$="-label"] {
    display: block;
    vertical-align: top;
    line-height: inherit;
    padding-bottom: 5px;
}
/* Label Inline */
.erf-label-inline.erf-container .erf-form label[class$="-label"] {
    display: inline-block;
    width: 30%;
    cursor: pointer;
}
/* No Label */
.erf-label-no-label.erf-container .erf-form label[class$="-label"] {
    display: none;
}
.erf-label-no-label.erf-container
    .erf-form
    .form-group-plans
    label[class$="-label"] {
    display: block;
}
.erf-label-no-label.erf-container .erf-form .intl-tel-input {
    width: 100%;
    max-width: 100%;
}
.erf-container .form-group .fb-required {
    color: #ff0000;
    font-weight: 400;
    margin-left: 3px;
}

/* Clear each row */
.erf-container .erf-form .form-group:before {
    content: " ";
    display: table;
}

.erf-container .erf-form .form-group:after {
    clear: both;
    content: " ";
    display: table;
}

.erf-container .erf-form .erf-disabled,
.erf-container .erf-form .form-control:disabled,
.erf-container .erf-form .form-control[readonly] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.4;
}
.erf-link-disabled {
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
}
.erf-container .erf-form .radio,
.erf-container .erf-form .checkbox {
    display: block;
}
.erf-container .erf-form .radio-inline,
.erf-container .erf-form .checkbox-inline {
    display: inline-block;
    margin-right: 10px;
}

.erf-container .erf-form .radio input[type="radio"],
.erf-container .erf-form .checkbox input[type="checkbox"],
.erf-container .erf-form .radio-inline input[type="radio"],
.erf-container .erf-form .checkbox-inline input[type="checkbox"] {
    position: absolute;
    left: 1px;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.erf-container .erf-form .radio,
.erf-container .erf-form .checkbox,
.erf-container .erf-form .radio-inline,
.erf-container .erf-form .checkbox-inline {
    padding-left: 20px;
    position: relative;
    margin-top: 0;
    margin-bottom: 5px;
}

.erf-container .erf-form .radio label,
.erf-container .erf-form .checkbox label,
.erf-container .erf-form .radio-inline label,
.erf-container .erf-form .checkbox-inline label {
    padding-left: 0px;
    font-weight: inherit;
}

.erf-container .erf-form select.erf-price,
.erf-container .erf-form select[multiple="true"] {
    height: auto;
}
.erf-container .erf-form .erf-submit-button {
    display: block;
    clear: both;
}

.erf-container .erf-form .erf-form-nav .erf-submit-button {
    display: inline-block;
    width: auto !important;
    clear: none;
}
.erf-container .erf-form .erf-submit-button .form-group {
    margin: 0 !important;
    display: block;
    width: auto !important;
    padding: 10px 0;
}

/*Icons*/
.erf-container .erforms-icon {
    margin-right: 5px;
}
.erf-container .erforms-icon.undefined {
    display: none;
}

/*Tooltip*/
.erf-container .erf-form .tooltip-element {
    position: relative;
    visibility: visible;
    color: #fff;
    background: #000;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    margin: 0 5px;
    font-size: 12px;
    cursor: default;
    z-index: 1;
}
.erf-container .erf-form .tooltip-element:before,
.erf-container .erf-form .tooltip-element:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

.erf-container .erf-form .tooltip-element:before {
    left: 100%;
    bottom: 50%;
    margin-left: -11px;
    margin-bottom: -6px;
    content: "";
    position: absolute;
    background: 0 0;
    border: 6px solid transparent;
    border-right-color: #383838;
    z-index: 1000001;
}
.erf-container .erf-form .tooltip-element:after {
    content: attr(tooltip);
    left: 100%;
    bottom: -50%;
    background: #383838;
    color: #fff;
    text-align: left;
    padding: 8px 10px;
    font-size: inherit;
    line-height: 1.5em;
    text-shadow: 0 -1px 0 #000;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    word-break: break-word;
    white-space: normal;
    width: 200px;
}
.erf-container .erf-form .tooltip-element:hover:before {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    opacity: 1;
    visibility: visible;
}
.erf-container .erf-form .tooltip-element:hover:after {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    opacity: 1;
    visibility: visible;
}

/*Multi Step*/
.erf-container .erf-page-breaks:after {
    display: block;
    clear: both;
    content: "";
}

.erf-container .erf-page-breaks {
    border-bottom: 1px solid #bbb;
    margin: 20px 0;
    opacity: 1;
}

.erf-container .erf-page-breaks .page-break.active-page {
    border: 1px solid #bbb;
    border-bottom: none;
}
.erf-container .erf-page-breaks .page-break {
    float: left;
    padding: 10px;
    position: relative;
    top: 1px;
}
.erf-container .erf-page-breaks .page-break {
    cursor: pointer;
}
.erf-container .erf-page-breaks .page-break.active-page ~ .page-break {
    cursor: not-allowed;
}

/*Errors*/
.erf-container .parsley-errors-list {
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
}
.erf-container .parsley-errors-list:empty {
    display: none;
}

.erf-container .erf-page-breaks .page-break.erf-has-errors {
    color: #ff0000;
}
.erf-container .erf-price-total {
    padding: 5px 10px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(150, 150, 150, 0.5);
    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}
.erf-label-inline.erf-container .erf-price-total {
    display: block;
}
.erf-label-inline.erf-container .erf-price-total,
.erf-label-inline.erf-container .parsley-errors-list li,
.erf-label-inline.erf-container .erf-field-error {
    margin-left: 30%;
}
.erf-errors,
.erf-error-row {
    display: block;
    clear: both;
    width: 100%;
}

.erf-container .parsley-errors-list li,
.erf-container .erf-error-row,
.erf-container .erf-field-error {
    color: #ff0000;
    padding-top: 5px !important;
    display: block;
    font-size: 12px;
    line-height: 1.2em;
}

.erf_front_administration {
    display: none;
    /*    margin-bottom: 20px;
    text-align: left;*/
}
/*.erf_front_administration .erf_form_layout_admin_open{
    border-color: inherit;
    min-height: 38px;
    min-width: 150px;
}*/
/*Login*/
.erf-login.erf-container .erf-form-login {
    max-width: 400px;
}
.erf-login.erf-container .form-group label {
    display: block;
    width: 100%;
}
/*Login*/
.erf-container .erf-recaptcha {
    margin: 20px 0;
}
.erf-container .erf-recaptcha > div,
.erf-container.erf-layout-two-column .erf-recaptcha > div {
    float: left;
}
.erf-container.erf-label-inline .erf-recaptcha > div {
    float: right;
}
.erf-lost-password {
    float: right;
}

.erf-container .erf-account-switch {
    margin: 20px 0;
}
.erf-container .erf-account-switch a:nth-child(1) {
    float: left;
}
.erf-container .erf-account-switch a:nth-child(2) {
    float: right;
}
.erf-container .erf-clearfix:after {
    display: block;
    clear: both;
    content: "";
}
/*Login-Registration form*/
.erf-login-register-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.erf-login-register-form > div {
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.erf-login-register-form .erf-container {
    padding: 0 3em 0 0;
}
.erf-login-register-form .erf-reg-form-container {
    padding: 0 0 0 3em;
}
.erf-login-register-form .erf-container {
    border-right: 1px solid rgba(150, 150, 150, 0.5);
}
.erf-login-register-form.erf-container .erf-form .form-control,
.erf-login-register-form.erf-container .erf-payment-wrapper {
    width: 100%;
}
.erf-container .erf-payment-methods input[type="radio"] {
    position: relative;
    top: 3px;
    margin-top: 0;
}
.erf-container.erf-login-register-form .erf-form .form-control,
.erf-container.erf-login-register-form
    .erf-form
    .other-option
    + label
    input[type="text"],
.erf-container.erf-login-register-form .erf-payment-wrapper {
    max-width: 100%;
}
.erforms-form-widget .erf-login-register-form > div {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    padding: 0;
    border: none;
}
/*Price field*/
.erf-container .erf-price-total p {
    margin: 0;
    line-height: 2em;
    font-weight: bold;
    text-align: right;
}
.erf-container .erf-price-total .erf-total-title {
    margin-right: 20px;
}

.erf_form_layout_admin_dialog {
    display: block;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf_form_layout_admin_dialog .erf-control select {
    width: 100%;
}
/*Loader*/
.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#erf_progress {
    display: inline-block;
    padding: 10px;
}

.erf-container .erf-error {
    color: #ff0000;
    padding-top: 5px !important;
    display: block;
    font-size: 12px;
    line-height: 1.2em;
    margin-bottom: 10px;
    line-height: 18px;
}

.erf-hidden {
    display: none !important;
}

/*My Profile*/
.erf-container .erf-my-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-my-account {
    padding: 20px 0;
}
.erf-container .erf-my-account-nav {
    /* width: 250px;*/
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-my-account-content {
    /*width: calc(100% - 250px);*/
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-my-account-nav,
.erf-container .erf-my-account-content {
    padding: 0 10px;
    margin-bottom: 1em;
}
.erf-container .erf-my-account-nav ul {
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0;
    border-bottom: 2px solid rgba(150, 150, 150, 0.4);
}
.erf-container .erf-my-account-nav ul li {
    position: relative;
    float: left;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
    list-style: none;
}
.erf-container .erf-my-account-nav .erf-my-account-navigation-link a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.erf-container .erf-my-account-nav .erf-my-account-navigation-link:hover,
.erf-container .erf-my-account-nav .erf-my-account-navigation-link:focus,
.erf-container .erf-my-account-nav .erf-my-account-navigation-link:focus,
.erf-container .erf-my-account-nav .erf-my-account-navigation-link-active {
    border: none;
    color: inherit;
    background: transparent;
    border-bottom: 2px solid currentColor;
}
.erf-container
    .erf-my-account-nav
    .erf-my-account-navigation-link-active
    a:hover,
.erf-container
    .erf-my-account-nav
    .erf-my-account-navigation-link-active
    a:focus
    .erf-container
    .erf-my-account-nav
    .erf-my-account-navigation-link-active
    a:active {
    border: inherit;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.erf-container
    .erf-my-account-nav
    .erf-my-account-navigation-link-active
    a:after {
    content: "";
    background: currentColor;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    -webkit-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.erf-profile-welcome {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1em;
}
.erf-my-account-titles,
.erf-my-account-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-my-account-title {
    font-weight: bold;
}
.erf-container .erf-my-account-title,
.erf-container .erf-my-account-detail {
    padding: 5px;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-my-account-col-sr {
    width: 50px;
}
.erf-container .erf-my-account-col-form-name {
    width: calc(100% - 350px);
}
.erf-container .erf-my-account-col-date {
    width: 200px;
}
.erf-container .erf-my-account-col-edit {
    width: 100px;
}
.erf-container .erf-profile-logout {
    margin-top: 30px;
}
.erf-container .erf-account-pagination {
    padding: 10px 5px;
}
.erf-container .erf-account-pagination .erf-pagination {
    display: block;
    padding: 5px 30px;
    border: 1px solid currentColor;
}
.erf-container .erf-account-pagination .erf-prev {
    float: left;
}
.erf-container .erf-account-pagination .erf-next {
    float: right;
}

.erf-container .erf-profile-details-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-profile-details-wrap .erf-profile-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-profile-details-wrap .erf-profile-image img {
    width: 128px;
    height: 128px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.erf-container .erf-profile-details-wrap .erf-profile-details {
    width: calc(100% - 128px);
    padding: 10px;
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.erf-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-profile-details-row {
    margin-bottom: 5px;
}
.erf-container .erf-profile-detail-title {
    width: 100px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-profile-detail-content {
    width: calc(100% - 100px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-form.erf-change-password label {
    width: 30%;
    display: inline-block;
    float: left;
}
.erf-container .erf-form.erf-change-password input[type="password"] {
    max-width: 100%;
    width: 70%;
    display: inline-block;
}
.erf-container .erf-form.erf-change-password .form-group label {
    white-space: normal;
}
.erf-container .erf-form.erf-change-password .erf-password {
    margin-bottom: 5px;
}
.erf-container .erf-form.erf-change-password .pass-strength-visible {
    position: relative;
}
.erf-container .erf-form.erf-change-password .pass-graybar {
    position: absolute;
    top: 48px;
    right: 0;
    width: 70%;
}
.erf-container .erf-form.erf-change-password .pass-wrapper {
    width: 70%;
    float: right;
}
.erf-container .erf-form.erf-change-password .pass-wrapper .pass-text {
    font-size: 70%;
}
.erf-container .pass-wrapper {
    width: 60%;
}
.erf-layout-two-column.erf-container .pass-wrapper {
    width: 100%;
}
.erf-label-inline.erf-container .pass-wrapper {
    width: 70%;
    float: right;
}
.erf-container .erf-form.erf-change-password .parsley-errors-list {
    margin-left: 30%;
}
.erf-container .erf-form.erf-change-password .parsley-errors-list li {
    color: #ff0000;
    padding-top: 5px !important;
    display: block;
    font-size: 12px;
    line-height: 1.2em;
}
.erf-container span.erf-tag {
    padding: 5px 15px;
    margin: 5px 0;
    display: inline-block;
    border-radius: 2px;
}
/*Edit Moadl*/
.erf-container .erf-modal {
    z-index: 9999999;
    display: none;
    padding-top: 100px;
    padding-bottom: 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.erf-container .erf-modal-header {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px 10px;
}
.erf-container .erf-modal > div {
    max-width: 95%;
    margin: auto;
    background-color: #fff;
    position: relative;
    outline: 0;
    width: 900px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.erf-container .erf-modal-small > div {
    max-width: 500px;
}
.erf-container .erf-modal-close {
    border: none;
    position: absolute;
    background: transparent;
    color: currentColor !important;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    z-index: 1;
    min-width: auto;
    cursor: pointer;
}
.erf-container .erf-modal-header .erf-print-submission {
    padding: 5px 20px;
    background: none;
    color: currentColor;
    border: none;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}
/*Submission Popup table*/
.erf-container .erf-submission-table {
    text-align: left;
    margin: 0;
}
.erf-container .erf-submission-table tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.erf-container .erf-submission-table tr:nth-of-type(even) {
    background-color: #ffffff;
}
.erf-container .erf-submission-table,
.erf-container .erf-submission-table tr,
.erf-container .erf-submission-table th,
.erf-container .erf-submission-table td {
    border: none !important;
}

.erf-container .erf-submission-table th,
.erf-container .erf-submission-table td {
    text-align: left;
    padding: 5px 10px;
    font-weight: normal;
    border: none;
    outline: none;
}
.erf-container .erf-submission-table th label{
    font-weight : normal;
}
.erf-container .erf-submission-table th {
    width: 40%;
}
.erf-container .erf-submission-table td {
    width: 60%;
}
.erf-container .erf-submission-table td img {
    margin-top: 10px;
    margin-bottom: 10px;
}
.erf-container .erf-submission-table td a {
    border: none;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
/*GDPR*/
.erf-container .erf-gdpr {
    max-width: 60%;
    position: relative;
}
.erf-container .erf-gdpr input[type="checkbox"] {
    position: absolute;
    top: 10px;
    left: 0px;
    margin: 0 10px 0 0;
    z-index: 1;
}
.erf-layout-two-column.erf-container .erf-gdpr {
    max-width: 100%;
}
.erf-container .erf-gdpr-label {
    margin: 0;
    display: inline-block;
    width: auto;
    max-width: calc(100% - 25px);
    padding-left: 23px;
}
.erf-container .erf-gdpr-label * {
    font-size: 16px;
    margin: 0;
    line-height: 1.3em;
    white-space: normal;
}
.erf-container .erf-gdpr .parsley-errors-list li,
.erf-container .erf-gdpr .parsley-errors-list li {
    margin-left: 30px;
}
/*Plans*/
.erf-container .erf-payment-wrapper {
    max-width: 60%;
    padding: 10px;
    background: rgba(200, 200, 200, 0.1);
}
.erf-label-inline.erf-container .erf-payment-wrapper {
    max-width: 100%;
}
.erf-layout-two-column.erf-container .erf-payment-wrapper {
    max-width: 100%;
}
.erf-container .erf_payment_header h5 {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 0;
    font-size: 1.2em;
}
.erf-container .erf-plans {
}
.erf-container .erf-plan-description {
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 0.9em;
    white-space: normal;
}
.erf-container .erf-donation-field + .erf-plan-description {
    padding-left: 0px;
}
.erf-container .erf-form .erf-plans > .form-group-plans {
    padding: 0;
    margin-bottom: 0;
}
.erf-container .erf-form .erf-plans > .form-group-plans:last-child {
    margin-bottom: 10px;
}
.erf-layout-two-column.erf-container
    .erf-two-columns
    .form-group-plans:nth-child(odd),
.erf-layout-two-column.erf-container
    .erf-two-columns
    .form-group-plans:nth-child(even) {
    float: none;
    margin: 0;
    width: 100%;
}
.erf-container .erf-form .erf-plans > .form-group-plans label[class$="-label"] {
    padding: 0;
    margin: 0;
}
.erf-label-inline.erf-container .erf-form .form-group-plans label {
    width: auto;
    line-height: inherit;
}
.erf-container .erf-form .checkbox.erf-donation-field {
    padding-left: 0;
}

/*Login Form*/
.erf-layout-two-column .erf-reset-password-form,
.erf-layout-two-column .erf-login-form .form-group {
    width: 48%;
}
.erf-layout-two-column .erf-login-form .form-group input[type="text"],
.erf-layout-two-column .erf-login-form .form-group input[type="password"],
.erf-layout-two-column .erf-reset-password-form input[type="email"],
.erforms-form-widget
    .erf-container.erf-label-no-label.erf-layout-two-column
    .erf-login-form
    .form-group,
.erforms-form-widget .erf-layout-two-column .form-group,
.erf-layout-two-column .erf-login-form label[class$="-label"][for="rememberme"],
.erf-layout-two-column .erf-login-form .form-group,
.erforms-form-widget
    .erf-label-inline.erf-container
    .erf-form
    label[class$="-label"],
.erforms-form-widget .erf-label-inline.erf-container .erf-form .form-control {
    max-width: 100%;
    width: 100%;
}
.erf-container.erf-label-no-label.erf-layout-two-column
    .erf-login-form
    .form-group {
    max-width: 60%;
}
@media print {
    .erf-submission-table,
    .erf-submission-table tr,
    .erf-submission-table th,
    .erf-submission-table td {
        border: none !important;
        text-align: left;
    }
    .erf-submission-table tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
    .erf-submission-table tr:nth-of-type(even) {
        background-color: #ffffff;
    }
}
