.sps {
  display: flex;
  text-align: center;
  margin: 20px 0 20px;
}
.sps-group {
  margin-right: 10px;
}
.sps-select {
  align-self: flex-end;
}
.sps-quantity {
  background: #ededed;
}
.sps-button {
  order:2;
}
.sps .sps-select {
    display: inline-block;
    margin-right: 10px;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    border-radius: 30px 0 0 30px;
    border: 0;
    height: 50px;
    width: 75px;
}

/* Select arrow styling */
.sps-select:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #000;
    color: white;
    pointer-events: none;
}

.no-pointer-events
.sps-select:after {
    content: none;
}
.sps-dropdown {
  position: relative;
  display: flex;
  align-self: flex-end;
  margin: 0 10px 0;
}
.sps-dropdown-button {
  display: flex;
  align-items: center;
  background: #ededed;
  border-radius: 30px 0 0 30px;
  height: 50px;
  width: 75px;
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.sps-dropdown-button:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 50px;
    padding: 0 7px;
    color: #000;
    pointer-events: none;
}
.sps-dropdown-button-circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.sps-dropdown-colors {
  display: none;
  z-index: 100;
  position: absolute;
  top: 60px;
  background: #ededed;
  padding: 10px;
  border-radius: 20px;
}
.sps-dropdown-circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
}
.sps-dropdown-circle.custom,
.sps-dropdown-button-circle.custom {
  border: 1px solid #000;
}
.sps-dropdown-circle.custom:before,
.sps-dropdown-button-circle.custom:before {
  /* content : "\f53f"; */
  /* content: "\f576"; */
  content: "\f5aa";
  font-family: "Font Awesome 5 free";
  color: #000;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.sps-marks {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sps-marks > div {
  display: flex;
  flex-wrap: wrap;
}
.sps-marks
.sps-mark {
  background: #fff;
  width: 50px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #000;
  margin: 0 5px 5px 0;
  cursor: pointer;
}
.sps-marks
.sps-mark.active {
  border: 2px solid #F29D2B;
}
.sps-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.sps-popup-content {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}
.sps-options {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#sps-more {
  display: flex;
  flex-direction: column;
  opacity: 0;
}
#sps-showless {
  display: none;
}
#sps-showmore, #sps-showless {
  width: 120px;
  background: none;
  border: none;
  color: #F29D2B;
  cursor: pointer;
}
.sps-options-label {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  width: 100%;
}
.sps-options-label input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sps-options-label input:checked ~ .sps-checkbox:after {
  display: block;
}
.sps-checkbox {
  position: absolute;
  height: 24px;
  width: 24px;
  left: 0;
  border: 1px solid grey;
}
.sps-checkbox:after {
  content: "";
  /* position: absolute; */
  display: none;
}
.sps-options-label .sps-checkbox:after {
  /* left: 9px;
  top: 5px; */
  background: #095474;
  width: 100%;
  height: 100%;
  /* border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); */
}
.sps-quantity-minimum {
  width: 360px;
  color: #095474;
}
.sps-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
}
.sps-content h2 {
  font-size: 18px;
  font-weight: 600;
}
.sps-options,
.sps-marks {
  padding: 20px 0;
}

@media (max-width: 768px) {
  .sps-content {
    order: 2;
    flex-direction: row;
    width: 100%;
  }
  .sps-options {
    width: 40%;
  }
  .sps-marks {
    width: 60%;
  }
  .product .woocommerce-product-gallery {
    order: 1;
  }
  .product .summary {
    order: 3;
  }
}
@media (max-width: 480px) {
  .sps-options,
  .sps-marks {
   width: 100%;
  }
}
.sps-quantity .quantity {
  display: block;
}
#add-comment-to-customization {
  width: 30px;
  height: 30px;
  background: #095474;
  border-radius: 50%;
  margin: 10px 0 0 15px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  font-size: 12px;
}

.sps-add-comment-to-customization , .sps-add-comment-to-customization2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.sps-add-comment-to-customization-content, .sps-add-comment-to-customization-content2 {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background: #dfe1e6;
  color: #000;
}
.sps-add-comment-to-customization-content textarea, .sps-add-comment-to-customization-content2 textarea {
  resize: none;
  margin: 0 0 20px;
}
.sps-add-comment-to-customization-content button, .sps-add-comment-to-customization-content2 button{
  width: 120px;
  border-radius: 50px;
  border: none;
  background: #095474;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.sps-add-comment-to-customization-close, .sps-add-comment-to-customization-close2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
  background: #929498;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
